# Examen Intra
## gibg2501 - 14 mars 2020

In [1]:

import numpy as np
import pandas as pd
import re
import os


from _datetime import datetime
from sklearn.preprocessing import OneHotEncoder

api_journal = pd.read_csv('api_journal11-13-17.csv', encoding='latin1')
api_price = pd.read_csv('api_price11-13-17.csv', encoding='latin1')
estimated_article_influence = pd.read_csv('estimated-article-influence-scores-2015.csv', encoding='latin1')

api_journal_original = api_journal.copy()
api_price_original = api_price.copy()
estimated_article_influence_original = estimated_article_influence.copy()

# Q1

La table "estimated article influence" présente le nombre de fois où un périodique a été cité. Elle contient les
attributs:
- journal name:
    contient les noms des journeaux dans lesquels les articles sont publiés 
- issn (International Standard Serial Number)
    Contient les numéros de séries d'identification des périodiques
- Citation count sum
    Compile le nombre de fois ou un périodique a été cité à travers tous les articles
- Paper count sum
    Compile le nomre de d'articles où le périodique en question a été cité
- average citation per parper
    Calcul le moyene de citation par article de

In [2]:
estimated_article_influence.describe()

,Unnamed: 0,citation_count_sum,paper_count_sum,avg_cites_per_paper,proj_ai,proj_ai_year
count,3615.000000,3603.000000,3603.000000,3603.000000,3603.000000,3615.0
mean,1831.496542,1446.713850,509.671107,2.118970,0.516554,2015.0
std,1056.690131,7996.860704,1923.905084,1.687837,0.572554,0.0
min,0.000000,0.000000,1.000000,0.000000,0.000000,2015.0
25%,916.500000,150.000000,107.000000,1.054941,0.199000,2015.0
50%,1835.000000,421.000000,239.000000,1.717822,0.367000,2015.0
75%,2746.500000,1097.000000,522.000000,2.710734,0.651500,2015.0
max,3659.000000,426949.000000,104705.000000,26.318824,11.367000,2015.0

La table "API journal" classifie les articles dans les divers domaines de la science (Medecine, Geology, Social
Science, etc). Elle indique également si les articles sont dispobilbes via l'API REST de flourishoar.org. Ces
colonnes sont:
- issn (International Standard Serial Number)
    Contient les numéros de séries d'identification des périodiques
- journal name:
    contient les noms des journeaux qui sont disponibles via l'API de flourishoa
- pub_name
    présente le nom du publieur des périodiques. Il S'agit de valeurs textuelles, et certaines sont manquantes.
- is hybrid
    Indique si le périodique est disponible selon la modalité d'abonnement hybride sous laquelle certains artices
    sont donnés en accès gratuits. Il s'agit d'une variable booléenne.
- category
    Indique la domaine du périodique. Beacoup de valeurs sont "NULL" et certaines sont carrément absentes.
- url
    Donne le "Unique Ressource Locator" pour le périodique. La plupart des valeurs sont absentes ou "NULL".

In [3]:
api_journal.describe()

          is_hybrid
count  13149.000000
mean       0.131949
std        0.338448
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

La table "API price" aggrège les données relatives aux prix des différentes publications. Elles contient les attributs:
- id
    numéro séquentiel ordonnant les entrées de la table
- price 
    indique le prix des publicatios il d'agit de valeurs numériques
- date_stamp
    indique la date pour laquelle le prix a été recensé
- journal id
    contient un identifiant numérique pour le journal
- influence_id
    contient un indicateur numérique du degré d'infuence d'une publication. La plupart des valeurs sont NULL 
- url
    Donne le "Unified Ressource Locator" qui semble a priori porté sur le prix des publications
    (ex: https://www.elsevier.com/journals/alcohol/0741-8329/open-access-options). Cependant, la plupart des liens
    semblent brisés.

In [4]:
api_price.describe()

                 id        price  influence_id     license
count   7795.000000  7795.000000    759.000000  378.000000
mean   12588.002309  1273.908794   4570.260870    3.989418
std     2250.370998  1264.786225    583.092441    3.716034
min     8691.000000     0.000000    209.000000    1.000000
25%    10639.500000     0.000000   4324.500000    1.000000
50%    12588.000000  1000.000000   4571.000000    1.000000
75%    14536.500000  2580.000000   4937.500000    6.000000
max    16486.000000  7590.000000   5516.000000   10.000000

# Q2

Selon wikipedia, un issn peut servir à différencier des publications ayant le même tite: "An International Standard
Serial Number (ISSN) is an eight-digit serial number used to uniquely identify a serial publication, such as a magazine.
[1] The ISSN is especially helpful in distinguishing between serials with the same title." Les publications ayant le même
titre ne seront donc pas considérées comme des duplicatats si leurs issn diffèrent

In [5]:

api_journal.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
13144    False
13145    False
13146    False
13147    False
13148    False
Length: 13149, dtype: bool

In [6]:

# Transform text columns to numerical categories
api_journal['journal_name'] = api_journal['journal_name'].astype('category')
api_journal['pub_name'] = api_journal['pub_name'].astype('category')

api_journal.dtypes.keys()[0]

cat_columns = api_journal.select_dtypes('category').columns

api_journal[cat_columns] = api_journal[cat_columns].apply(lambda x: x.cat.codes)

print('e')

e